In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
"""Load data
"""

raw_data = pd.read_csv('https://github.com/alexhuhn2019/DataScienceFinanceDojo/raw/master/Bond_Similarity.csv')
raw_data.head()

,Cusip,ISIN,Description,Ticker,Coupon,Maturity,Composite Rating,Currency,Country,Sector Level 1,...,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212
0,'AL319313',XS1529687870,AA Bond Co Limited,AABOND,2.875,1/31/2022,BBB3,GBP,GB,Securitized/Collateralized,...,0,0,0,0,0,0,0,0,0,0
1,'AO236287',XS1645315620,AA Bond Co Limited,AABOND,2.750,7/31/2023,BBB3,GBP,GB,Securitized/Collateralized,...,0,0,0,0,0,0,0,0,0,0
2,'AT538379',XS1856940462,AA Bond Co Limited,AABOND,4.875,7/31/2024,BBB3,GBP,GB,Securitized/Collateralized,...,0,0,0,0,0,0,0,0,0,0
3,'EJ733791',XS0949169923,AA Bond Co Limited,AABOND,6.269,7/31/2025,BBB3,GBP,GB,Securitized/Collateralized,...,0,0,0,0,0,0,0,0,0,0
4,'EJ944681',XS0996575378,AA Bond Co Limited,AABOND,4.249,7/31/2020,BBB3,GBP,GB,Securitized/Collateralized,...,0,0,0,0,0,0,0,0,0,0

In [28]:
"""Checking data - manual process 
"""
raw_data.shape

(1147, 1248)

In [3]:
raw_data.iloc[:,:].isnull().sum()[0:20] #.index  #>50   #)[10:20] #[1:20]  #>20

Cusip                 0
ISIN                 51
Description           0
Ticker               63
Coupon                1
Maturity              1
Composite Rating      0
Currency              0
Country               0
Sector Level 1       63
Sector Level 2       63
Sector Level 3       63
Sector Level 4       63
Type                 63
Face Value           63
Price                 0
Accrued Interest     63
% Weight             63
Cash                 63
Duration To Worst    63
dtype: int64

In [4]:
raw_data.iloc[1205:1206,0:20]

,Cusip,ISIN,Description,Ticker,Coupon,Maturity,Composite Rating,Currency,Country,Sector Level 1,Sector Level 2,Sector Level 3,Sector Level 4,Type,Face Value,Price,Accrued Interest,% Weight,Cash,Duration To Worst
1205,BRTDA9WF2,NaN,Telecom Credit B 4.608% 27/10/27,NaN,4.608,27/10/2027,BBB2,GBP,GB,NaN,NaN,NaN,NaN,NaN,NaN,101.0,NaN,NaN,NaN,NaN

In [5]:
"""Removing null columns 
"""
raw_data=raw_data.drop('Illiquidity Premium',1)
raw_data=raw_data.drop('Unnamed: 39',1)
raw_data=raw_data.drop('Currency',1)  #no need it, as the same ccy

In [6]:
raw_data=raw_data.dropna(0, how='any')

In [7]:
raw_data.shape

(1147, 1248)

In [8]:
cnv_data =raw_data.iloc[:,4:]

In [9]:
cnv_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1147 entries, 0 to 1147
Columns: 1244 entries, Coupon to 1212
dtypes: float64(25), int64(1211), object(8)
memory usage: 10.9+ MB

In [10]:
"""Assign numerical value to categorical data - numerical values are still categorical (discreet)
"""

cnv_data['Maturity']=(pd.to_datetime(cnv_data['Maturity']).dt.year-pd.datetime.today().year)

cnv_data['Composite Rating'] = cnv_data['Composite Rating'].astype('category')
cnv_data['Composite Rating'] = cnv_data['Composite Rating'].cat.codes


cnv_data['Country'] = cnv_data['Country'].astype('category')
cnv_data['Country'] = cnv_data['Country'].cat.codes

cnv_data['Sector Level 1'] = cnv_data['Sector Level 1'].astype('category')
cnv_data['Sector Level 1'] = cnv_data['Sector Level 1'].cat.codes

In [11]:
cnv_data.head

<bound method NDFrame.head of       Coupon  Maturity  Composite Rating  Country  Sector Level 1  \
0      2.875         2                 9       11               2
1      2.750         3                 9       11               2
2      4.875         4                 9       11               2
3      6.269         5                 9       11               2
4      4.249         0                 9       11               2
...      ...       ...               ...      ...             ...
1143   4.125        24                 2       11               0
1144   5.750        13                 2       11               0
1145   5.375         8                 2       11               0
1146   4.000         1                 2       11               0
1147   6.625         2                 1        5               0

     Sector Level 2 Sector Level 3          Sector Level 4  Type  Face Value  \
0       Securitized   Asset Backed          ABS Automobile  SSEN       700.0
1       Securitized   Asset Backed          ABS Automobile  SSEN       250.0
2       Securitized   Asset Backed          ABS Automobile  SSEN       550.0
3       Securitized   Asset Backed          ABS Automobile  SECR       500.0
4       Securitized   Asset Backed          ABS Automobile  SSEN       200.0
...             ...            ...                     ...   ...         ...
1143    Industrials    Real Estate     Housing Association  SECR       200.0
1144        Utility        Utility  Non-Electric Utilities  SENR       350.0
1145        Utility        Utility  Non-Electric Utilities  SENR       200.0
1146        Utility        Utility  Non-Electric Utilities  SENR       300.0
1147      Financial      Insurance    Multi-Line Insurance   SUB       450.0

      ...  1203  1204  1205  1206  1207  1208  1209  1210  1211  1212
0     ...     0     0     0     0     0     0     0     0     0     0
1     ...     0     0     0     0     0     0     0     0     0     0
2     ...     0     0     0     0     0     0     0     0     0     0
3     ...     0     0     0     0     0     0     0     0     0     0
4     ...     0     0     0     0     0     0     0     0     0     0
...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
1143  ...     0     0     0     0     0     0     0     0     0     0
1144  ...     0     0     0     0     0     0     0     0     0     0
1145  ...     0     0     0     0     0     0     0     0     0     0
1146  ...     0     0     0     0     0     0     0     0     0     0
1147  ...     0     0     0     0     0     0     0     0     0     0

[1147 rows x 1244 columns]>

In [12]:
cnv_data['Sector Level 2'] = cnv_data['Sector Level 2'].astype('category')
cnv_data['Sector Level 2'] = cnv_data['Sector Level 2'].cat.codes

cnv_data['Sector Level 3'] = cnv_data['Sector Level 3'].astype('category')
cnv_data['Sector Level 3'] = cnv_data['Sector Level 3'].cat.codes
cnv_data['Sector Level 4'] = cnv_data['Sector Level 4'].astype('category')
cnv_data['Sector Level 4'] = cnv_data['Sector Level 4'].cat.codes

In [13]:
cnv_data['Type'] = cnv_data['Type'].astype('category')
cnv_data['Type'] = cnv_data['Type'].cat.codes

In [14]:
#raw_heat.shape  #.info  #dtypes
raw_data.iloc[1000:,1100:]

,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,...,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212
1001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1144,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1147,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
from sklearn import preprocessing

In [17]:
from scipy.spatial.distance import cdist
from scipy.spatial.distance import euclidean
#D = scipy.zeros([leng,leng])
from scipy import zeros

In [18]:
cnv_data.iloc[1130:1131,20:40]

,Prior Month-End Accrued Interest,Prior Month-End % Weight,Prior Month-End Duration To Worst,Prior Month-End Yield To Worst,Prior Month-End Effective Duration,Prior Month-End Effective Yield,Prior Month-End OAS vs Govt,TRR % MTD LOC,Excess Rtn % MTD,Asset Swap Spread,Prior Month-End Asset Swap Spread,OAS vs Swap,Prior Month-End OAS vs Swap,2,3,4,5,6,7,8
1131,0.088,0.08455,3.799,1.415,3.834,1.41,47.0,0.059,-0.072,11.0,10.0,11.0,10.0,0,0,0,0,0,0,0

In [19]:
X=np.array(cnv_data)

In [20]:
"""Normalise - however without normalisation it still gives the same answares
"""
A = preprocessing.StandardScaler().fit(X).transform(X)  #

In [21]:
B=A

In [22]:
d=cdist(A,B,metric='euclidean')

In [23]:
#some tests
d[10,:]==d[:,10]

array([ True,  True,  True, ...,  True,  True,  True])

In [25]:

"""Loop through the diagonals from 0 up. 
   Please note I have not tested too much of below resoluts, this is just an implementation of an idea
"""

min1=10000
for c in range(len(d)):
    if c>0:
        d1=d.diagonal(c)
        if (min1>d1.min() and d1.min()>0):
            min1=d1.min()
            coord=np.argmin(d1)
            d1min=d1
            cmin=c

print(min1)
#print(d1min)
coordA=coord
coordB=coord+cmin
print(coordA)
print(coordB)

0.12570933863232614
393
581

In [26]:
d1min.min()
np.argmin(d1)

0

In [27]:
same_bonds=raw_data.iloc[[coordA,coordB],:]

In [35]:
same_bonds.iloc[:, 15:35]

,Accrued Interest,% Weight,Cash,Duration To Worst,Yield to Worst,Effective Duration,Effective Yield,OAS vs Govt,Prior Month-End Price,Prior Month-End Accrued Interest,Prior Month-End % Weight,Prior Month-End Duration To Worst,Prior Month-End Yield To Worst,Prior Month-End Effective Duration,Prior Month-End Effective Yield,Prior Month-End OAS vs Govt,TRR % MTD LOC,Excess Rtn % MTD,Asset Swap Spread,Prior Month-End Asset Swap Spread
394,0.424315,0.21243,0.0,3.423,1.157,3.450,1.154,26.0,98.964,0.403,0.21319,3.447,1.175,3.474,1.172,26.0,0.090,-0.034,-10.0,-11.0
582,0.354795,0.21221,0.0,3.502,1.160,3.529,1.157,26.0,98.905,0.333,0.21291,3.525,1.186,3.553,1.182,26.0,0.117,-0.008,-11.0,-10.0